{% extends "streamcardio_app/base.html" %}
{% load staticfiles %}

{% block body_block %}

<div class="jumbotron">
</div>

<div class="container">
	<h4>О нас</h4>
	<p>ООО "СтримКардио" основано в 2015 году. Офис компании находится в Москве. Компания занимается разработкой аппаратно-программных комплексов и систем медицинского назначения. Все проекты выполняются “под ключ”: постановки задачи, разработка экспериментального образца,  выпуск опытной партии изделия и подготовка серийного производства.</p>
	<h5>Сферы применения</h5>
	<p>Наша продукция используется в различных областях медицины — в анестезиологии, реанимации, интенсивной терапии, кардиологии, скрининге, в реанимационных и операционных палатах для непрерывного наблюдения и получения оперативной информации о  состоянии пациента.</p>
	<p>На сегодняшний день мы являемся надежными поставщиками не только медицинского оборудования, но и встраиваемых ОЕМ-модулей.</p>
</div>
   
{% endblock body_block %}